@use "@/assets/scss/vars";

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Italic"),
  local("PTSans-Italic"),
  url("//career.habr.com/images/fonts/pt-sans/ptsans-italic-webfont.woff2") format("woff2"),
  url("//career.habr.com/images/fonts/pt-sans/ptsans-italic-webfont.woff") format("woff");

  unicode-range: U+20-7E,U+A7,U+A9,U+AB,U+B1,U+B7,U+BB,U+2C6,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018-201F,U+2022,U+2032,U+20AC,U+20B4,U+20B8,U+20BD,U+2116,U+2190-2193,U+2248,U+2260;

  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  local("PTSans-Regular"),
  url("//career.habr.com/images/fonts/pt-sans/ptsans-regular-webfont.woff2") format('woff2'),
  url("//career.habr.com/images/fonts/pt-sans/ptsans-regular-webfont.woff") format('woff');

  unicode-range: U+20-7E,U+A7,U+A9,U+AB,U+B1,U+B7,U+BB,U+2C6,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018-201F,U+2022,U+2032,U+20AC,U+20B4,U+20B8,U+20BD,U+2116,U+2190-2193,U+2248,U+2260;

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
  local("PTSans-Bold"),
  url("//career.habr.com/images/fonts/pt-sans/ptsans-bold-webfont.woff2") format("woff2"),
  url("//career.habr.com/images/fonts/pt-sans/ptsans-bold-webfont.woff") format("woff");

  unicode-range: U+20-7E,U+A7,U+A9,U+AB,U+B1,U+B7,U+BB,U+2C6,U+401,U+410-44F,U+451,U+2013,U+2014,U+2018-201F,U+2022,U+2032,U+20AC,U+20B4,U+20B8,U+20BD,U+2116,U+2190-2193,U+2248,U+2260;

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include vars.fontSize;

  font-family: "PT Sans", sans-serif;

  text-align: left;

  display: flex;
  justify-content: center;
  align-items: center;

  color: vars.$colorDark;
  background: vars.$backgroundLight;
}

* {
  font-size: 100%;
}
