@use "sass:map";

$fontSize: (
  M: 12px,
  S: 10px,
  L: 14px,
  XL: 16px,
);

$fontWeight: 300;
$fontWeightL: 400;
$fontWeightXL: 600;

$lineHeight: (
  M: 14px,
  S: 12px,
  L: 16px,
  XL: 18px
);

$colorDark: #464646;
$colorLight: #FFF;
$colorMuted: #999;
$colorImportant: #C00;
$colorTagDefault: #92A8BA;
$colorBorderDefault: #E4E4E4;
$colorBorderHovered: $colorMuted;

$backgroundDark: #000;
$backgroundLight: #FFF;
$backgroundHovered: #F4F4F4;
$backgroundDisabled: #EDEDED;
$backgroundSelected: #F4F4F4;

$gap: 4px;
$gapS: 2px;
$gapXS: 1px;
$gapL: $gap * 2;
$gapXL: $gap * 3;
$gapXXL: $gap * 4;

$transitionDelay: 0.3s;

$inputWidthMin: 300px;
$inputHeightMin: 40px;

$formMinWidth: 600px + ($gapL * 2);

$formFieldWidthMin: 200px;

$userAvatarSize: (
  M: 50px,
  S: 20px,
  L: 80px,
);

@mixin fontSize($size: "M") {
  font-size: map.get($fontSize, $size);

  line-height: map.get($lineHeight, $size);
}

@mixin boxShadow($color: $backgroundDark) {
  box-shadow: 0 1px $gapXXL rgba($color, 0.3);
}

@mixin avatarSize($size: 'M') {
  width: map.get($userAvatarSize, $size);
  height: map.get($userAvatarSize, $size);
}
