@use "sass:map";

$fontSize: (
  M: 12px,
  S: 10px,
  L: 14px,
  XL: 16px,
);

$fontWeight: (
  M: 300,
  L: 400,
  XL: 600,
);

$lineHeight: (
  M: 14px,
  S: 12px,
  L: 16px,
  XL: 18px
);

$color: (
  Dark: #464646,
  Light: #FFF,
  Muted: #999,
  Required: #C00,
  Important: #C00,
  TagDefault: #92A8BA,
  BorderDefault: #E4E4E4,
  BorderHovered: #999,
  BackgroundDark: #000,
  BackgroundLight: #FFF,
  BackgroundHovered: #F4F4F4,
  BackgroundDisabled: #EDEDED,
  BackgroundSelected: #F4F4F4,
);

$gap: 4px;
$gapS: 2px;
$gapXS: 1px;
$gapL: $gap * 2;
$gapXL: $gap * 3;
$gapXXL: $gap * 4;

$transitionDelay: 0.3s;

$inputWidthMin: 300px;
$inputHeightMin: 40px;

$formMinWidth: 600px + ($gapL * 2);

$formFieldWidthMin: 200px;

$avatarSize: (
  M: 50px,
  S: 20px,
  L: 80px,
);

@mixin fontSize($size: "M") {
  @if not map.has-key($fontSize, $size) {
    @warn "Unknown font size: #{$size}";
  }

  @if not map.has-key($lineHeight, $size) {
    @warn "Unknown line height: #{$size}";
  }

  font-size: map.get($fontSize, $size);

  line-height: map.get($lineHeight, $size);
}

@mixin fontWeight($weight: "M") {
  @if not map.has-key($fontWeight, $weight) {
    @warn "Unknown font weight: #{$weight}";
  }

  font-weight: map.get($fontWeight, $weight);
}

@function getColor($pick: "Dark", $opacity: 1) {
  @if not map.has-key($color, $pick) {
    @warn "Unknown color: #{$pick}";
    @return "";
  }

  @if $opacity < 1 {
    @return rgba(map.get($color, $pick), $opacity);
  }

  @return  map.get($color, $pick);
}

@mixin color($pick: "Dark") {
  color: getColor($pick);
}

@mixin backgroundColor($pick: "BackgroundLight") {
  background-color: getColor($pick);
}

@function getShadow(
  $pick: "BackgroundDark",
  $opacity: 0.3,
  $offsetX: 0,
  $offsetY: 0,
  $blur: $gapXXL,
  $spread: 0,
  $inset: 'none',
) {
  @if $inset != 'none' {
    @return inset $offsetX $offsetY $blur $spread getColor($pick, $opacity);
  }

  @return $offsetX $offsetY $blur $spread getColor($pick, $opacity);
}

@mixin shadow(
  $pick: "BackgroundDark",
  $opacity: 0.3,
  $offsetX: 0,
  $offsetY: 0,
  $blur: $gapXXL,
  $spread: 0,
  $inset: 'none',
) {
  box-shadow: getShadow($pick, $opacity, $offsetX, $offsetY, $blur, $spread, $inset);
}

@mixin avatarSize($size: "M") {
  @if not map.has-key($avatarSize, $size) {
    @warn "Unknown avatar size: #{$size}";
  }

  width: map.get($avatarSize, $size);
  height: map.get($avatarSize, $size);
}

@mixin zIndex($add: 0) {
  z-index: 1000 + $add;
}
